@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nova+Square&display=swap");
* {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: black;
  width: 275px;
  height: 100vh;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-out;
}

.sidebar nav {
  padding: 36px;
}
.sidebar nav li {
  list-style: none;
  font-size: 15px;
  padding: 33px 47px;
}
.sidebar nav li a {
  text-decoration: none;
  color: white;
}
.main {
  background: url("https://github.com/Bharat-P-Rajput/Portfolio/blob/main/bg3.jpeg") repeat 0 0;
  /* background: transparent;
  backdrop-filter: blur(10px); */
  /* background-color: grey; */

  background-size: cover;
  width: 100vw;
}

.Container {
  display: flex;
}
.infoContainer {
  /* background-color: lightseagreen; */
  /* background: transparent;
  backdrop-filter: blur(3px); */
  height: 58vh;
  width: 80vw;
  margin: 140px auto;
  display: flex;
  justify-content: space-around;
}

.myInfo {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  /* backdrop-filter: blur(10px); */
  margin: 0px;
  padding: 16px 37px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 75px;
}
.hello {
  font-size: 55px;
  color: white;
}
.name {
  font-size: 45px;
  font-weight: bold;
  /* font-family: "Cedarville Cursive", cursive; */
  /* font-family: "Nova Square", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif;
  font-family: "Ephesis", cursive; */
  color: white;
}
.about {
  font-size: 20px;
  color: white;
  font-family: "Nova Square", sans-serif;
}
.Moreabout {
  font-size: 15px;
  color: white;
  font-weight: bold;
}
.buttons button {
  padding: 11px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: bold;
}
.buttons button:hover {
  background-color: black;
  color: white;
}

.myPic img {
  top: 1px;
  height: 75vh;
  position: relative;
  bottom: 100px;
}

.ToContact {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 197px 150px;
  padding-top: 144px;
}
.ToContact h1 {
  padding: 12px 0;
  color: white;
}
.ToContact form div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.ToContact form div input {
  width: 26vw;
  border-radius: 5px;
  margin: 6px 0 0 0;
  padding: 3px;
}
/* .h5 {
  color: white;
} */
.ToContact form button {
  padding: 11px;
  border-radius: 18px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
}
.ToContact form button:hover {
  background-color: black;
  color: white;
}
#clientEmail {
  font-size: 12px;
  margin: 0 5px;
}
#clientPhone {
  font-size: 12px;
  margin: 0 5px;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 20px;
  margin: 1px 0;
}
.Intro {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 172px 100px;
}
.Intro h1 {
  margin: 20px 0;
}

.moreInfo {
  margin: 10px 200px 0 0;
  font-weight: bold;
}

.Intro button {
  margin: 20px 0;
  padding: 11px;
  border-radius: 18px;
  /* width: 100px; */
  cursor: pointer;
  font-weight: bold;
}
.Intro button:hover {
  background-color: black;
  color: white;
}

.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 20px;
}
.cross {
  margin-left: 160px;
}
@media (max-width: 904px) {
  /* * {
    background-color: black;
  }
  .main {
    background-color: black;
  } */
  /* .sidebar {
    transform: translate(-443px, 0px);
    position: absolute;
  } */
}
.Projects {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 150px 150px;
}
.P1 h3 {
  color: white;
  font-weight: bold;
  /* font-size: 15px; */
  /* font-family: "Bebas Neue", sans-serif; */
}
.P1 p {
  color: white;
  font-family: "Nova Square", sans-serif;
}
.Projects button {
  margin: 20px 0;
  padding: 11px;
  border-radius: 18px;
  /* width: 100px; */
  cursor: pointer;
  font-weight: bold;
}
.Projects button:hover {
  background-color: black;
  color: white;
}
